<div *ngIf="successfulldelete" class="card" style="background-color:green!important;">
    <div class="card-body">

        <div class="row">
            <div class="col-10">
                <h4 class="card-title">Successful Delete</h4>
            </div>
            <div class="col-2">
                <i class="fa fa-times" style="color: #d9534f;" (click) = "closeSuccess()"></i>
            </div>
        </div>

    </div>
</div>

<div *ngIf="unsuccessfulldelete" class="card" style="background-color:brown!important;">
    <div class="card-body">
        <div class="row">
            <div class="col-10">
                <h4 class="card-title">Unsuccessful Delete</h4>
            </div>
            <div class="col-2">
                <i class="fa fa-times" style="color: #d9534f;" (click) = "closeSuccess()"></i>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="collapse" data-target="#MarketBettypeInfo" aria-expanded="false" aria-controls="collapseExample">
    SportCountry
</button>

<div class="collapse" id="MarketBettypeInfo">
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>#Id</th>
                <th>SportId</th>
                <th>SportName</th>
                <th>CountryId</th>
                <th>CountryName</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sportcountryinfo of sportcountryinfos">
                <td scope="row">{{sportcountryinfo.id}}</td>
                <td scope="row">{{sportcountryinfo.sportId}}</td>
                <td scope="row">{{sportcountryinfo.sportName}}</td>
                <td scope="row">{{sportcountryinfo.countryId}}</td>
                <td scope="row">{{sportcountryinfo.countryName}}</td>
                <td><button type="button" class="btn btn-outline-danger" (click)="deleteSportCountry(sportcountryinfo)">DELETE</button></td>
            </tr>
        </tbody>
    </table>
</div>

<br>
<br>

<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th style="width: 10%!important;">Id</th>
            <th style="width: 20%!important;">Name</th>
            <th style="width: 50%!important;">Logo</th>
            <th style="width: 20%!important;"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let sport of sports">
            <td scope="row">{{sport.id}}</td>
            <td scope="row">{{sport.name}}</td>
            <td scope="row">{{sport.logo}}</td>
            <td><button type="button" class="btn btn-outline-danger" (click)="deleteSport(sport)">DELETE</button></td>
        </tr>
    </tbody>
</table>